.app-header .app-logo {
  width: 15%;
  height: 90%;
}
.app-banner {
  background-image: url("../assets/capsule.jpg");
}
.search-layout {
  padding: 1rem;
}

/* Capsule view modal  */
.capsule-data-labels {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, auto);
}
.label {
  font-weight: 600;
}
