.app-header .app-logo {
  width: 15%;
  height: 90%;
}
.app-banner {
  background-image: url("../assets/capsule.jpg");
  height: 200px;
  background-size: cover;
}

.ant-list-item .ant-card-body {
  min-height: 100px;
}
.card-content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.search-layout {
  padding: 1rem;
}

/* Capsule view modal  */
.capsule-data-labels {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, auto);
}
.label {
  font-weight: 600;
}
.error-text {
  color: red;
  margin: 1rem;
}
